* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #c3c3c3;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    height: 630px;
    width: 500px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    
}

.logo {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo img {
    height: 80px;
    width: 80px;
    border-radius: 15px;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.cabecalho h1 {
    font-weight: 700;
    font-size: 24px;
}

.cabecalho h3 {
    font-weight: 600;
    font-size: 18px;
    margin-top: 5px;
}

.cabecalho p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
}

fieldset{
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.grupo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.campo {
    margin-bottom: 5px;
}

.campo label {
    margin-bottom: 5px;
    color: #2153cc;
    display: block;
}

.campo input[type="text"], .campo input[type="email"], .campo select {
    height: 30px;
    width: 200px;
    margin: 5px;
    border-radius: 5px;
    padding: 0.2em;
    border: 2px solid #2153cc;
    box-shadow: 2px 2px 2px rgb rgba(0, 0, 0, 0.2);
    font-size: 16px;
    display: block;
    box-sizing: content-box;
}

.botao {
    font-size: 20px;
    background: #2153cc;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    translate: (-50%, -50%);
}

.botao:hover {
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}